{% extends 'base.html' %} {% block title %}{{ album_name }}{% endblock %} {% {%
{% block content %}

<div class="row">
  <div class="col-md-6">
    <div id="album_art_info">
      <img id="album_art" src="{{ album_art }}" />
      <article class="album_info_desc" id="album_info">
        <form action="" method="POST"></form>
        <p>Album Info</p>
        <hr />
        <p>Artist: {{ artist_name }}</p>
        <p>Album: {{ album_name }}</p>
        <p>Genre: {{ genre }}</p>
        <p>Initial Sales: {{ sales }}</p>
        {% if collection %}
        <a href="{% url 'remove_from_collection' album_id=pk %}">
          <button>Remove from collection</button>
        </a>
        <a href="{% url 'rate_collection' album_id=pk %}">
          {% if not is_my_rating %}
          <button>Rate</button>
          {% else %}
          <button>Edit</button>
          {% endif %}
        </a>
        {% else %}
        <a href="{% url 'add_to_collection' album_id=pk %}"
          ><button>+ Add to collection</button></a
        >
        {% endif %}
      </article>
    </div>
    <p class="album_info_desc" id="album_description">
      Album Description: {{ album_description }}
    </p>
    <article class="album_info_desc" id="song_list">
      <p>Song List:</p>
      {% for song in song_list %}
      <p>{{ song }}</p>
      {% endfor %}
    </article>
  </div>
  {% if ratings %}
  <div class="col-md-6">
    <h1 class="text-center">Reviews</h1>
    <div class="row justify-content-center ratings_row">
      <div class="album_rating">
        {% for rating in ratings %}
        <p>"{{ rating.review }}" - {{ rating.user }}, {{ rating.rating }} ⭐</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
