{% extends 'base.html' %} {% block title %}{{ album_name }}{% endblock %} {% {%
{% block content %}

<div id="album_art_info">
  <img id="album_art" src="{{ album_art }}" />
  <article class="album_info_desc" id="album_info">
    <form action="" method="POST"></form>
    <p>Album Info</p>
    <hr />
    <p>Artist: {{ artist_name }}</p>
    <p>Album: {{ album_name }}</p>
    <p>Genre: {{ genre }}</p>
    <p>Initial Sales: {{ sales }}</p>
    {% if collection %}
    <a href="{% url 'remove_from_collection' album_id=pk %}"
      >Remove from collection</a
    >
    <a href="{% url 'rate_collection' album_id=pk %}"
      >Rate ({{collection.rating}})</a
    >
    {% else %}
    <a href="{% url 'add_to_collection' album_id=pk %}">Add to collection</a>
    {% endif %}
  </article>
</div>
<p class="album_info_desc" id="album_description">
  Album Description: {{ album_description }}
</p>

{% endblock %}
