{% load static %}

<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      body {
        background: rgb(56, 56, 56);
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class='container'>
      <header>
        <a href=''><img id='logo' src='https://i.imgur.com/eK74Vzb.png'></a>
        <nav>
          <ul>
          {% if user.is_authenticated %}
            <li>Hi {{ user.username }}!</li>
            <li><a href=''>My Collection</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
          </ul>
        </nav>
      </header>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
