{% extends "base.html" %}
{% block content %}
{% for collection in collections%}
<a class='collection_links' href='{% url "detail" album_id=collection.album %}'>
  <h1>
    {{ collection.title }} - {{ collection.rating }}⭐
  </h1>
</a>
<h3>
  {{ collection.artist }}
</h3>
<a class='collection_links' href='{% url "detail" album_id=collection.album %}'>
  <img id='collection_album_art' src="{{ collection.art_url }}"></a>
{% if collection.review %}<em>"{{collection.review}}"</em></br>{% endif %}
{% if collection.user_ratings %}
{% for rating in collection.user_ratings %}
{{rating.user}}  {{rating.rating}}
 - {{rating.review }}
  <a class='collection_links' href='{% url "rate_collection" album_id=collection.album %}'>Edit</a>
  <a class='collection_links' href='{% url "remove_rating" album_id=collection.album %}'>Remove</a>
 {% endfor %}
 {% endif %}
{% if not collection.user_ratings %}
<a class='collection_links' href='{% url "rate_collection" album_id=collection.album %}'>Rate</a>
{% endif %}

<hr />
{% endfor %}
{% endblock %}
